
*{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  header{
    background-color: blanchedalmond;
    height: 100vh;
    margin: 0;
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a{
  text-decoration: none;
}

  header h1{
    text-align: center;
    
  }


  
  
  .button{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .button:hover{
    background-color: brown;
    color: white;
  }

  img{
    height: 200px;
    width: 190px;
  }

  section{
    padding: 5px;
    line-height: 30px;
    height: 100vh;
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main{
    padding: 20px;
  }

  h1{
    color: brown;
    font-size: 40px;
    text-decoration: underline;
  }

  body{
    background-color: beige;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

   .submit{
    border-radius: 10px;
    height: 30px;
    width: 80px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    
   }
   .submit:hover{
    background-color: black;
    color: white;
   }
   input{
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 8px;
    height: 20px;
   }

   footer{
    height: 100px;
    background-color: black;
    color: white;
    font-family: monospace ;
    text-align: center;
    padding: 50px 0 0 0;
   
   }

   .fixedbutton{
    border-radius: 50px;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 10px;
    right: 20px;
   }

   .fixedbutton:hover{
    background-color: black;
    color: white;
   }
  